@import "./fonts.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #1e1e1e;
  --color-foreground: #ffffff;

  --color-bg-primary: #1e1e1e;
  --color-bg-secondary: #121212;
  --color-bg-tertiary: #2a2d35;
  --color-bg-button: #2a2d35;
  --color-bg-button-hover: #363a45;

  --color-text-primary: #ffffff;
  --color-text-secondary: #a9a9a9;
  --color-text-error: #ff5c5c;

  --color-accent: #50728a;
  --color-accent-foreground: #a9a9a9;
  --color-accent-hover: #5f8ea8;
  --color-accent-light: #8db6cc;
  --color-accent-contributionFill: #395768;

  --color-border: #a9a9a9;
  --color-ring: #8db6cc;
  --shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.5);

  --font-sans: "Roboto Mono", monospace;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
}

:root {
  --background: var(--color-bg-primary);
  --foreground: var(--color-text-primary);

  --card: var(--color-bg-secondary);
  --card-foreground: var(--color-text-secondary);

  --accent: var(--color-accent);
  --accent-foreground: var(--color-text-primary);

  --border: var(--color-border);
  --input: var(--color-bg-tertiary);
  --ring: var(--color-accent-light);

  --radius: 0.625rem;
}

html.dark {
  color-scheme: dark;

  --background: var(--color-bg-primary);
  --foreground: var(--color-text-primary);

  --card: var(--color-bg-secondary);
  --card-foreground: var(--color-text-secondary);

  --accent: var(--color-accent);
  --accent-foreground: var(--color-text-primary);

  --border: var(--color-bg-tertiary);
  --input: var(--color-bg-tertiary);
  --ring: var(--color-accent-hover);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background font-sans text-foreground;
    font-size: 14px;
  }

  button {
    @apply rounded-md text-accent-foreground cursor-pointer bg-bg-button transition-colors hover:bg-bg-button-hover;
  }

  a {
    @apply text-accent transition-colors hover:text-accent-hover;
  }
}

@layer components {
}
