@import "./fonts.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #1e1e1e;
  --color-foreground: #ffffff;

  /* остальные цвета */
  --color-bg-primary: #1e1e1e;
  --color-bg-secondary: #121212;
  --color-bg-tertiary: #648e9e;

  --color-text-primary: #ffffff;
  --color-text-secondary: #50728a;
  --color-text-error: #ff5c5c;

  --color-accent: #50728a;
  --color-accent-foreground: #ffffff;
  --color-accent-hover: #5f8ea8;
  --color-accent-light: #8db6cc;
  --color-accent-contributionFill: #395768;

  --color-border: #648e9e;
  --color-ring: #8db6cc;
  --shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.5);

  --font-sans: "Roboto Mono", monospace;
}

:root {
  --background: var(--color-bg-primary);
  --foreground: var(--color-text-primary);

  --card: var(--color-bg-secondary);
  --card-foreground: var(--color-text-secondary);

  --accent: var(--color-accent);
  --accent-foreground: var(--color-text-primary);

  --border: var(--color-bg-tertiary);
  --input: var(--color-bg-tertiary);
  --ring: var(--color-accent-light);

  --radius: 0.625rem;
}

html.dark {
  color-scheme: dark;

  --background: var(--color-bg-primary);
  --foreground: var(--color-text-primary);

  --card: var(--color-bg-secondary);
  --card-foreground: var(--color-text-secondary);

  --accent: var(--color-accent);
  --accent-foreground: var(--color-text-primary);

  --border: var(--color-bg-tertiary);
  --input: var(--color-bg-tertiary);
  --ring: var(--color-accent-hover);
}

/* ====== GLOBAL LAYER ====== */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background font-sans text-foreground;
  }

  button {
    @apply bg-accent rounded-md text-accent-foreground cursor-pointer;
  }

  a {
    @apply text-accent transition-colors hover:text-accent-hover;
  }
}
